doctype html
html
  head
    title EZL
    link(rel="stylesheet", href="/stylesheets/bootstrap/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/childcss/home.css')
    link(rel='stylesheet', href='/stylesheets/childcss/header_main.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/bootstrap/bootstrap.min.js")
    script(src="/javascripts/childjs/home.js")

  body
    include header_main
