doctype html
html
  head
    title EZL
    link(rel="stylesheet", href="/stylesheets/bootstrap/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/childcss/home4teacher.css')
    link(rel='stylesheet', href='/stylesheets/childcss/header_main.css')
    link(rel='stylesheet', href='/summernote/summernote.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/bootstrap/bootstrap.min.js")
    script(src="/summernote/summernote.js")
    script(src="/javascripts/main.js")
    script(src="/javascripts/childjs/home4teacher.js")

  body
    include header_main
    .container
      h1 QUESTIONS LIST
  
