doctype html
html
	head
		title Ez Learning
		link(rel="stylesheet", href="/stylesheets/bootstrap/bootstrap.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/jquery.js")
		script(src="/javascripts/bootstrap/bootstrap.min.js")
		script(src="/javascripts/main.js")
		script(src="/javascripts/childjs/index.js")

	body
		include header
