doctype html
html
  head
    title EZL
    link(rel="stylesheet", href="/stylesheets/bootstrap/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/childcss/meeting.css')
    link(rel='stylesheet', href='/stylesheets/childcss/header_main.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/bootstrap/bootstrap.min.js")
    script(src="http://cdn.aodianyun.com/wis/exchange.js")
    script(src="/javascripts/main.js")
    script(src="/javascripts/childjs/meeting.js")

  body
    include header_main
    .container
      iframe#wisIframe
