doctype html
html
  head
    title EZL
    link(rel="stylesheet", href="/stylesheets/bootstrap/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/childcss/settings.css')
    link(rel='stylesheet', href='/stylesheets/childcss/header_main.css')
    link(rel='stylesheet', href='/summernote/summernote.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/bootstrap/bootstrap.min.js")
    script(src="/summernote/summernote.js")
    script(src="/javascripts/main.js")
    script(src="/javascripts/childjs/settings.js")

  body
    include header_main
    .container
      .col-lg-3.col-md-3.col-sm-3
        .list-group
          button(type="button").list-group-item list1
          button(type="button").list-group-item list2
          button(type="button").list-group-item list3
          button(type="button").list-group-item list4
          button(type="button").list-group-item list5
          button(type="button").list-group-item list6
      .col-lg-6.col-md-6.col-sm-6
          #userInfoSheet
            form
              .form-group
                label.uisHeadlabel Name
                input(type="text").form-control              
              .form-group
                label.uisHeadlabel Gendar
                br
                .radio-inline
                  input#femaleRadio(type="radio",name="sex",value="female")
                  |female
                .radio-inline
                  input#maleRadio(type="radio",name="sex",value="male")
                  |male
              .form-group
                label.uisHeadlabel Introduction
                textarea.form-control(row="4")
              .form-group
                label.uisHeadlabel Social Network Account
                input(type="text",placeholder="").form-control
              .form-group
                label.uisHeadlabel CellPhone 
                input(type="text",placeholder="").form-control
              .form-group
                label.uisHeadlabel Address
                input(type="text",placeholder="").form-control
              .form-group
                label.uisHeadlabel School
                input(type="text",placeholder="").form-control
              .form-group
                label.uisHeadlabel Grade
                input(type="text",placeholder="").form-control
            button(type="submit").btn.btn-success Update Profile
      .col-lg-3.col-md-3.col-sm-3
        p All my friends are heathens take it slow
        p All my friends are heathens take it slow
        p All my friends are heathens take it slow
        p All my friends are heathens take it slow
        p All my friends are heathens take it slow
        p All my friends are heathens take it slow
        p All my friends are heathens take it slow
        p All my friends are heathens take it slow
