ul.list-group
  li.list-group-item activities1
  li.list-group-item activities2
  li.list-group-item activities3
  li.list-group-item activities1
  li.list-group-item activities2
  li.list-group-item activities3
